// Backround colors.
$color__background-dark: #171B1E;
$color__background-light: #F5F4F1;

$color__text-visited: #ccc;
$color__text-light: white;
$color__text-medium: #ccc;

$color__pressed: #39AD9E;

$color__link-backgorund-dark: #6B7175;

$color__form-contact-border: #3F4449;
$color__form-not-validated: red;
