$font__family-heading: 'PT Sans', sans-serif;
$font__family-casual: "Avenir", sans-serif;

$font__size-heading: 64px;

$font__weight-heading: 100;

$font__large: 24px;
$font__medium: 18px;
$font__standard: 14px;

$font__weight-thin: 200;
$font__weight-medium: 400;
$font__weight-thick: 800;

$font__weight-button: bold;
$font__size-button: 12px;

$font__size-site-title: 180px;
