$width__page-center: 900px;
$padding__content-horizontal: 20px;
$padding__content-vertical: 40px;

$height__form-contact: 60px;


$margin__form_contact: 20px;

$size__form-required-icon: 2px;
$lineheight__form-input: 1px;
$minwidth__form-input: 300px;
