$font__family-heading: 'PT Sans', sans-serif;

$font__size-heading: 64px;

$font__weight-heading: 100;

$font__large: 24px;

$font__weight-button: bold;
$font__size-button: 12px;

$font__size-site-title: 180px;
