$_contact-between: 20px;

#contact {
    background-color: $color__background-dark;

    // Typography
    color: $color__text-light;
}

#contact .title {
    width: 100%;
    text-align: center;
}

#contact-form {
    width: 100%;

    @include display-flex;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    @include flex-direction(row);
}

#contact-form input, textarea {
    font-size: $font__large;

    // Remove default styles;
    background-color: transparent;
    border: none;
    outline: none;

    // Add new styles
    border-bottom: $lineheight__form-input solid $color__form-contact-border;

    &:focus, & { color: $color__text-light; }

    // Chnage the default placeholder text color.
    @include input-placeholder {
        color: $color__form-placeholder-light;
        font-size: $font__large;
    }
}

#contact-form input {
    width: 49%;
    height: $height__form-contact;
}

// Change input sized based off of textarea width.
@media screen and (max-width: #{$minwidth__form-input / .49} ) {
    #contact-form input { width: 100%; }
}

#contact-form textarea {
    margin: $margin__form_contact 0;

    width: 100%;

    height: 2.5 * $height__form-contact;
}

#contact-form #contact-send {
    @include transition( background-color $timing__text );

    border-radius: 4px;

    width: 100%;
    background-color: $color__link-backgorund-dark;
    $font-size: $font__large;

    font-size: $font-size;
    text-align: center;
    padding: #{($height__form-contact - $font-size) / 2} 0;

    &:active {
        background-color: $color__pressed;
    }
}

/// Required elements.
#contact-form > *[required] {
    position: relative;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: $size__form-required-icon;
        height: $size__form-required-icon;
        background-color: $color__form-required-icon;
        border-radius: 50%;
    }
}

/// If not validated properly.
#contact-form .not-validated {
    border-bottom: $lineheight__form-input solid $color__form-not-validated;
}
