#network-graph-section {
    background-color: $color__background-dark;
}

#network-graph-section .container-large {
    @include display-flex;
    @include flex-wrap( wrap);

}

#network-description {

    @include flex( 1 $size__content-column-2 );

    color: $color__text-light;
}

#network-graph {
    @include flex( 1 $size__content-column-2 );
    font-family: "fira-sans-2",sans-serif;
    color: #333;
}

#network-graph {
    @include transition( all 1.3s );
    @include opacity(0);

    &.visible { opacity: 1; }

    color: $color__text-light;
}
