#network-graph-section {
    background-color: $color__background-dark;
}

#network-graph-section .container-large {

}

#network-description {

    color: $color__text-light;

    width: 45%;

    float: right;
}

#network-graph {

    font-family: "fira-sans-2",sans-serif;
    color: #333;

    width: 45%;

    float: left;
}

#network-graph {
    @include transition( all 1.3s );

    color: $color__text-light;
}

@media screen and (max-width: #{ $size__min-content-column-2 / .4 }  ) {
    #network-graph, #network-description {
        float: left;
        width: 100%;
    }

    #network-graph-section .align-network-center {
        width: 100%;

        @include display-flex;
        @include flex-direction( row );
        @include justify-content( center );
    }
}
